.thalesmuitogay {
	text-align: center;
	font-size: 50px;
	color: #ff0084;
}

.textogay {
	font-size: 20px;
}

.imagemthales {
	width: 35%;
	margin: 0 200px;
}

.imagemmat {
	width: 19%;
	margin: 0 100px;
}

.coração {
	margin: -84px 850px;

}